{% extends 'base.html.twig' %}

{% block title %}New Parts{% endblock %}

{% block body %}
    <h1>Enregistrer un nouveau morceau</h1>

  {#  {{ include('parts/_form.html.twig') }}   #}

{% if app.user %}
    <div class="formView">
    {{ form_start(form) }}

    {{ form_row(form.title, {'label': 'titre', 'attr':
        {'placeholder': 'titre de la musique...'}}) }}

    {{ form_row(form.Groupe, {'label': 'groupe', 'attr':
        {'placeholder': 'Nom du chanteur ou groupe...'}}) }}

    {{ form_row(form.styles, {'label': 'style', 'attr':
        {'placeholder': 'style de musique...'}}) }}

    {{ form_row(form.type , {'label': 'type', 'attr':
        {'placeholder': 'Type de morceau...'}}) }}

    {{ form_row(form.pictures, {'label': 'pictures', 'attr':
        {'placeholder': 'image...'}}) }}

    <button type="submit" class="btn btn-success">Envoyez</button>

    {{ form_end(form) }}
    <a href="{{ path('parts_index') }}">Accueil</a>

    </div>
{% endif %}







{% endblock %}
