{% extends 'base.html.twig' %}

{% block title %} Search {% endblock %}

{% block body %}
    <h1 id="test_title">Chercher un morceau</h1>

        <div class="formResearch col-sm-6">
            {{ form_start(form_T) }}
            {{ form_row(form_T.title) }}
            {{ form_row(form_G.groupe) }}
            {{ form_row(form_A.author) }}
            {{ form_row(form_S.styles) }}
            {{ form_row(form_Type.type) }}
             <button class="btn btn-secondary">Chercher</button>
        </div>

    <div class="row">
        {% for part in parts %}
             <div class="col-sm-4 card border-primary mb-3" style="margin-top: 10px; border: 2px solid white">
                <a href="/img/sheetmusic_directory/{{ part.pictures }}" data-lightbox="img_search">
                <img src="/img/sheetmusic_directory/{{ part.pictures }}">
                </a>
                    <ul class="TextCustomCards">
                        <li class="card-text"><span class="CategoryNamePartsBold">Titre : </span>{{ part.title }}</li>
                        <li class="card-text"><span class="CategoryNamePartsBold">Artiste/Groupe : </span>{{ part.groupe }}</li>
                        <li class="card-text"><span class="CategoryNamePartsBold">Auteur : </span>{{ part.author }}</li>
                        <li class="card-text"><span class="CategoryNamePartsBold">Style : </span>{{ part.styles }}</li>
                        <li class="card-text"><span class="CategoryNamePartsBold">Type : </span>{{ part.type }}</li>
                    </ul>
                <a href="/img/sheetmusic_directory/{{ part.pictures }}" download="{{ part.title }}-{{ part.groupe }}_by_{{ part.author }}" class="card-link">Telecharger</a>
             </div>
        {% endfor %}
    </div>
<div class="pagination-sm d-flex justify-content-center">
    {{ knp_pagination_render(parts) }}
</div>
{% endblock %}