{% extends 'base.html.twig' %}
{% block body %}
<div class="row">
    <div class="formView col-sm-6">
        <p>Les champs avec * sont obligatoires</p>
        {{ form_start(form) }}
        {{ form_row(form.username) }}
        {{ form_row(form.password) }}
        {{ form_row(form.confirm_password) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.city) }}
        {{ form_row(form.age) }}
        {{ form_row(form.influences) }}
        {{ form_row(form.styles) }}
        {{ form_row(form.avatar) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}