{% extends 'base.html.twig' %}

{% block title %}Rechercher un utilisateur{% endblock %}

{% block body %}
<div class="search_profiles" style="border: 1px solid black;">

    {{ form_start(form_U) }}
    {{ form_row(form_U.username) }}
    {{ form_row(form_S.styles) }}
    {{  form_row(form_I.influences) }}
    <button>Rechercher</button>
    {{ form_end(form_U) }}

    {{ form_start(form_S) }}
    {{ form_row(form_S.styles) }}

    {{ form_end(form_S) }}

    {{ form_start(form_I) }}
    {{ form_row(form_I.influences) }}

    {{ form_end(form_I) }}




</div>



<table class="table">
    <thead>
    <tr>
        <th>Avatar/Photo.profil</th>
        <th>Nom/pseudo</th>
        <th>Ville</th>
        <th>Age</th>
        <th>Styles</th>
        <th>influences(artistes,groupes)</th>


    </tr>
    </thead>

    <tbody>
    {% for user in users %}
    <tr id="Mytr" style="">
        <td><img class="img_avatar" src="img/avatar_directory/{{ user.avatar }}"></td>
        <td><a href="{{ path('user_profile', {'id' : user.id})  }}">{{ user.username }}</a></td>
        <td>{{ user.city }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.styles }}</td>
        <td>{{ user.influences }}</td>
        {% endfor %}
    </tr>
    </tbody>

</table>


{% endblock %}