{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Avatar/Photo.profil</th>
            <th>Nom/pseudo</th>
            <th>Ville</th>
            <th>Age</th>
            <th>Styles</th>
            <th>influences(artistes,groupes)</th>


        </tr>
        </thead>

        <tbody>
                <h4>Profil</h4>
        <tr>
            <td><img class="img_avatar" src="../../img/avatar_directory/{{ users.avatar }}"></td>
            <td>{{ users.username }}</td>
            <td>{{ users.city }}</td>
            <td>{{ users.age }}</td>
            <td>{{ users.styles }}</td>
            <td>{{ users.influences }}</td>

        </tr>
        </tbody>

    </table>


    <table class="table">
        <tbody>
                <h4>Liste des morceaux </h4>
                {% for part in parts %}
        <tr style="margin: 5px">

            <th>Id</th>
            <td>{{ part.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ part.title }}</td>
        </tr>
        <tr>
            <th>Styles</th>
            <td>{{ part.styles }}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{ part.type }}</td>
        </tr>
        <tr>
            <th>Auteur de l'ajout</th>
            <td>{{ part.author }}</td>
        </tr>
        <tr>
            <th>Pictures</th>
            <td><a href="../../img/sheetmusic_directory/{{ part.pictures }}" data-lightbox="img_profile" data-title="img_UserProfile"><img alt="PartsPicturesProfile" src="../../img/sheetmusic_directory/{{ part.pictures }}" class="img_parts"></a></td>
            <td><a href="/img/sheetmusic_directory/{{ part.pictures }}" download="{{ part.title }}-{{ part.groupe }}_by{{ part.author }}">Telecharger</a></td>
        </tr>
        <tr>
            {% if app.user.id ==  id_user  %}
            <th>Edit</th>
            <td><a href="{{ path('parts_edit', {'id': part.id}) }}">edit</a></td>
            <td>{{ include('parts/_delete_form.html.twig') }}</td>
            {% endif %}
        </tr>


        {% endfor %}
        </tbody>
    </table>








{% endblock %}
