{% extends 'base.html.twig' %}



{% block body %}
    <div class="row">
        <div class="col-sm-6 formView">
             <h2>Contact</h2>
            {{ form_start(form) }}
            {{ form_row(form.pseudo) }}
            {{ form_row(form.subject) }}
            {{ form_row(form.mail) }}
            {{ form_row(form.message) }}
            <button type="submit" class="btn btn-primary">Envoyez</button>
            {{ form_end(form) }}
        </div>
    </div>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
{% endblock %}